@font-face {
  font-family: Plus Jakarta Sans;
  src: url(./assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf);
}

:root {
  font-family: "Plus Jakarta Sans", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset margin and padding for all elements */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Optional: ensures that padding and border are included in the element's total width/height */
}

html,
body {
  font-family: "Plus Jakarta Sans", system-ui, Avenir, Helvetica, Arial !important;
}

.login-container {
  align-items: stretch;
  height: 100vh;
  /* border: 1px solid red; */
}

.login-left {
  width: 45%;
  height: 100vh;
  /* border: 1px solid red; */
  background-color: #757575;
  background-image: url(./assets/images/login-left-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.login-left img {
  width: 100%;
  height: auto;
}

.login-right {
  width: 55%;
  padding: 12rem 8rem !important;
}
